<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="public/styles/estilos.boostrap.css">
    <link rel="stylesheet" href="public/styles/custom-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>Descargar PDF</title>
</head>
<body>

    <h1>Descargar PDF</h1>

    <p>Haz clic en el enlace siguiente para descargar el PDF con la documentación del proyecto:</p>

    <a href="src/views/documentacion-g13-comision23510.pdf.pdf" download="documentacion-g13-comision23510.pdf">Descargar PDF</a>
    
    <br>
    
    <p>Haz clic en el enlace siguiente para descargar el PDF con las reuniones de Notion:</p>

    <a href="src/views/Notion.pdf" download="Notion.pdf">Descargar PDF</a>

</body>
</html>
